body {
    font-family: Sofia+sans, EB+Garamond, sans-serif;
    background-color: rgb(212, 210, 210);
    max-width: 1280px;
	margin: 0 auto;
    color: black;

}

.modo-escuro {
    background-color: black;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

header .pokebola,
header .imagem-botao {
    width: 30px;
    transition: 0,2s ease-in-out;
}

header #botao-alterar-tema {
    background: none;
    border: none;
}

header .pokebola:hover,
header .imagem-botao:hover,
main .cartao-pokemon:hover {
    transform: scale(1.1);
    cursor: pointer;
    transition: 0,2s ease-in-out;
}

main {
    padding: 25px;
}

main .pokedex {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

main .cartao-pokemon {
    background-color: #d8e3ec;
    width: 200px;
    height: 300px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
}

main .cartao-pokemon:hover {
    background-color: #96d9d6;
}

.modo-escuro .cartao-pokemon:hover {
    background-color: #585858;
}
.modo-escuro .cartao-pokemon {
    background-color: rgb(34, 34, 34);
    color: #fff;
}

main .cartao-pokemon .informacoes {
    display: flex;
    justify-content: space-between;
    border: 1px solid #333333;
    border-radius: 10px;
}

main .cartao-pokemon .informacoes span {
    padding: 5px;
    font-size: 20px;
}

main .cartao-pokemon .gif-charizard {
    width: 100px;
    height: 100px;
}

main .cartao-pokemon .gif-gengar {
    width: 70px;
    height: 70px;
}

main .cartao-pokemon .gif-mew {
    width: 60px;
    height: 60px;
}

main .cartao-pokemon .gif-hooh {
    width: 125px;
    height: 125px;
}

main .cartao-pokemon .gif-rayquaza {
    width: 100px;
}

main .cartao-pokemon .gif-giratina {
    width: 100px;
}

main .cartao-pokemon .gif-darkrai {
    width: 100px;
}

main .cartao-pokemon .gif-arceus {
    width: 70px;
}

main .cartao-pokemon .gif-talonflame {
    width: 100px;
}

main .cartao-pokemon .gif-yveltal {
    width: 125px;
}

main .cartao-pokemon .tipos {
    display: flex;
    gap: 15px;
    align-items: center;
}

main .cartao-pokemon .tipo {
    padding: 5px;
    border-radius: 10px;
}

.fire {
    background-color: #ee8130;
}

.flying {
    background-color: #a2b8e7;
}

.dark {
    background-color: #333333;
    color: #fff;
}

.ghost {
    background-color: #161414;
    color: #fff;
}

.eletric {
    background-color: #ffd900;
}

.grass {
    background-color: #7ac74c;
}

.dragon {
    background-color: #2c0028;
    color: #fff;
}

.poison {
    background-color: #df67ddfb;
}

.water {
    background-color: #6390f0;
}

.psychic {
    background-color: rgb(253, 148, 165);
}

.steel {
    background-color: #575757;
    color: #fff;
}

.normal {
    background-color: #807f7f;
    
}

main .descricao {
    max-height: 100px;
    overflow-y: scroll;
    font-size: 17px;
    padding-right: 10px;
    text-align: justify;
    text-indent: 20px;
}
